.expensesFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000b5;
  z-index: 1;

  .closeForm {
    height: 100%;
    width: 100%;
  }

  .expensesFormCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding: 40px 20px;
  }

  .categoryWrapper {
    display: flex;
    align-items: center;
  }
}