.expensesWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-height: 100%;
  .expensesHeader {
    margin-top: 20px;
  }

  .expensesNavigation {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .inputField {
      width: 100%;
      &::placeholder {
        color: black;
      }
    }
  }

  .expensesContent {
    width: 100%;
    margin-top: 20px;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none;
    }

    .expensesCard {
      display: flex;
      text-align: left;
      width: 100%;
      background-color: #f9f9f9;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 24px;

      .categoryImage {
        max-width: 50px;
        margin-right: 10px;
      }

      .cardContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .expenseTotal {
          color: #FD3C4A;
          font-size: 16px;
          font-weight: bold;
          margin-left: auto;
        }

        .expenseDate {
          color: #91919F;
          font-size: 13px;
          font-weight: bold;
          margin-left: auto;
        }

        .expenseName {
          color: #292B2D;
          font-size: 16px;
          font-weight: bold;
        }

        .expenseDescription {
          color: #91919F;
          font-size: 13px;
          font-weight: bold;
        }
      }
    }
  }

  .expensesFooter {
  }
}